<html>
<head>
<title>Auction_App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
  	  	div {
  		margin: 25px 50px;
		}
  </style>
</head>
<body>
	<div>
		<h1>ARE YOU AN AUCTIONEER OR A BIDDER ?</h1>
	</div>
	<div>
		<form action="auctioneer" method="post">
		{% csrf_token %}
			<input type="submit" value="Auction" class="btn btn-primary" /> 
		</form>
		<br><br>
		<form action="bidder" method="post">
		{% csrf_token %}
			<input type="submit" value="Bidder" class="btn btn-primary" /> 
		</form>
	</div>	
	<hr>
</body>
</html>
